@model EgyGuide.Models.ViewModels.OfferCreateVM
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{ ViewData["Title"] = "Tour";
    ViewData["AddClassToBodyTag"] = "transparent-header";
    ViewData["AddToBreadcrumbHeaderHereBox"] = "pb-100 no-bg";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create";

    if (Model.TripDetail.TripId != 0)
        title = "Update";



}



<!-- start breadcrumb -->
<div class="breadcrumb-image-bg pb-100 no-bg" style="background-image:url('images/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h2>@title Your Tour</h2>
                    <p>Publish your passions, your way</p>
                </div>
            </div>
        </div>

        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tour @title</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<div class="bg-light">

    <div class="create-tour-wrapper">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">


                    <form id="form-detail" class="form" method="post" enctype="multipart/form-data">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="create-tour-inner">


                            <div class="row">
                                @if (Model.TripDetail.TripId != 0)
                                {
                                    <input type="hidden" asp-for="TripDetail.TripId" />
                                }

                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group form-group-lg">
                                        <label asp-for="TripDetail.Title">Tour name:</label>
                                        <input asp-for="TripDetail.Title" type="text" class="form-control" />
                                        <span asp-validation-for="TripDetail.Title" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <label asp-for="TripDetail.Price">Price:</label>
                                    <div class="input-group mb-15">
                                        <input asp-for="TripDetail.Price" class="form-control" type="text">
                                        <span asp-validation-for="TripDetail.Price" class="text-danger"></span>
                                        <span class="input-group-addon">$USD / person</span>



                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-7 col-md-7">
                                    <div class="row gap-20">
                                        <div class="col-xsw-12 col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group form-spin-group">
                                                <label asp-for="TripDetail.Days">How many days?</label>
                                                <input id="days" asp-for="TripDetail.Days" type="text" class="form-control form-spin" />
                                                <span asp-validation-for="TripDetail.Days" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-xsw-12 col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group form-spin-group">
                                                <label asp-for="TripDetail.Nights">How many nights?</label>
                                                <input asp-for="TripDetail.Nights" type="text" class="form-control form-spin" />
                                                <span asp-validation-for="TripDetail.Nights" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-xs-6 col-sm-6">

                                    <div class="form-group">
                                        <label asp-for="TripDetail.CityId">City:</label>
                                        @Html.DropDownListFor(m => m.TripDetail.CityId, Model.CityList, "-- Select a city --", new { @class = "form-control" })
                                        <span asp-validation-for="TripDetail.CityId" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12">

                                    <div class="form-group">
                                        <label asp-for="TripDetail.SelectedPlaces">Visiting Places:</label>
                                        <input asp-for="TripDetail.SelectedPlaces" type="text" class="form-control" placeholder="Ex: Museum-Pyramids" />
                                        <span asp-validation-for="TripDetail.SelectedPlaces" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12">

                                    <div class="form-group">
                                        <label>Brief Description:</label>
                                        <textarea asp-for="TripDetail.Description" class="form-control" rows="5" placeholder="Write your tirp detials"></textarea>
                                        <span asp-validation-for="TripDetail.Description" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                            <h5 class="text-uppercase">Is this tour best for?</h5>

                            <div class="row gap-20">

                                <div id="ItemList" class="col-xs-12 col-sm-12">

                                    <label class="block">Tour style:</label>

                                    <div class="category-checkbox-wrapper clearfix mt-10 mb-15">

                                        @if (Model.TripStyles.Any())
                                        {
                                            @foreach (var style in Model.TripStyles)
                                            {
                                                <div class="category-checkbox-item">
                                                    <div class="checkbox-block">

                                                        <input id="checkbox_block-@style.StyleId" type="checkbox" class="checkbox @style.StyleId" checked="@style.IsChecked" />
                                                        <label asp-for="@style.StyleId" class="" for="checkbox_block-@style.StyleId">
                                                            <span class="category-checkbox-inner">
                                                                <span class="middle-outer">
                                                                    <span class="middle-inner">
                                                                        <span class="icon">
                                                                            <i class="flaticon-travel-icons-@style.ClassName"></i>
                                                                        </span>
                                                                        @style.StyleName
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <partial name="~/Views/Shared/NotFoundAlert.cshtml" />
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="mb-30"></div>

                            <h4 class="section-title">Trip detail</h4>

                            <div class="row gap-20">
                                <div class="col-xs-12 col-sm-5">
                                    <div class="form-group">
                                        <label asp-for="TripDetail.MeetingPlace">Meeting point</label>
                                        <input asp-for="TripDetail.MeetingPlace" type="text" class="form-control" />
                                        <span asp-validation-for="TripDetail.MeetingPlace" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3">

                                    <div class="form-group">
                                        <label asp-for="TripDetail.MeetingDate">Date</label>
                                        <input asp-for="TripDetail.MeetingDate" type="datetime-local" class="form-control" />
                                        <span asp-validation-for="TripDetail.MeetingDate" class="text-danger"></span>

                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-4">

                                    <div class="form-group form-spin-group">
                                        <label asp-for="TripDetail.MaxTravellers">Maximum travellers</label>
                                        <input asp-for="TripDetail.MaxTravellers" type="text" class="form-control form-spin" />
                                        <span asp-validation-for="TripDetail.MaxTravellers" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12">

                                    <div class="form-group">
                                        <label asp-for="TripDetail.SelectedLanguages">Languages:</label>
                                        <input asp-for="TripDetail.SelectedLanguages" type="text" class="form-control" placeholder="Engilsh-French" />
                                        <span asp-validation-for="TripDetail.SelectedLanguages" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12">

                                    <div class="form-group">
                                        <label asp-for="TripDetail.Transport">Transport:</label>
                                        <input asp-for="TripDetail.Transport" type="text" class="form-control" placeholder="Train-Car" />
                                        <span asp-validation-for="TripDetail.Transport" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                            <div class="mb-40"></div>

                            <h4 class="section-title">What's encluded?</h4>
                            @if (Model.TripDetail.TripId == 0)
                            {
                                <div class="row gap-15 mt-25">
                                    @for (var i = 0; i <= 6; i++)
                                    {
                                        <div class="col-xs-12 col-xs-6 col-md-4">
                                            <div class="form-group">

                                                <input id="@i" asp-for="TripDetail.Included" type="text" class="form-control">
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="row gap-15 mt-25">
                                    @{var enc = Model.Included.ToList();
                                    }
                                    @for (var i = 0; i < enc.Count(); i++)
                                    {
                                        <div class="col-xs-12 col-xs-6 col-md-4">
                                            <div class="form-group">

                                                <input id="encluded+@i" asp-for="@enc[i].Title" type="text" class="form-control">
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            <div class="mb-40"></div>

                            <h4 class="section-title">What's excluded?</h4>
                            @if (Model.TripDetail.TripId == 0)
                            {
                                <div class="row gap-15 mt-25">
                                    @for (var i = 7; i <= 13; i++)
                                    {
                                        <div class="col-xs-12 col-xs-6 col-md-4">
                                            <div class="form-group">
                                                <input id="@i" asp-for="TripDetail.Excluded" value="" type="text" class="form-control">
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="row gap-15 mt-25">
                                    @{var ex = Model.Excluded.ToList();
                                    }
                                    @for (var i = 0; i < ex.Count(); i++)
                                    {
                                        <div class="col-xs-12 col-xs-6 col-md-4">
                                            <div class="form-group">

                                                <input id="excluded+@i" asp-for="@ex[i].Title" type="text" class="form-control">
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            <div class="mb-30"></div>

                            <h4 class="section-title">Gallery</h4>
                            <p><strong><span style="color:red">hint***</span> The first photo will be the cover photo of the trip</strong></p>

                            <div class="row gap-20">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group bootstrap-fileinput-style-01">
                                        @if (Model.TripDetail.TripId != 0)
                                        {
                                            foreach (var image in Model.Galleries)
                                            {
                                                <img src="@image.URL" width="150" height="150" />
                                            }
                                        }
                                        <input asp-for="TripDetail.SelectedImages" id="form-photos" name="file" type="file" multiple>

                                        <span class="font12 font-italic">** only jpg, png, tiff are allowed</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @if (Model.TripDetail.TripId != 0)
                        {
                            <div class="mb-40"></div>

                            <h4 class="section-title">Itinerary</h4>
                            <p>Compliment interested discretion estimating on stimulated apartments oh. Dear so sing when in find read of call. As distrusts behaviour abilities defective uncommonly.</p>
                            <div id="days-details" class="itinerary-form-wrapper">

                                @foreach (var day in Model.TripDaysDetail)
                                {

                                    <div class="itinerary-form-item">

                                        <div class="content clearfix">

                                            <div class="row gap-20">

                                                <div class="col-xss-12 col-xs-2 col-sm-2 col-md-1">

                                                    <div class="day">
                                                        <h6 class="text-uppercase mb-0 mt-5 text-muted">Day</h6>
                                                        <span class="text-primary block number spacing-1">@day.DayNum</span>
                                                    </div>

                                                </div>

                                                <div class="col-xss-12 col-xs-10 col-sm-10 col-md-11">

                                                    <div class="row gap-20">

                                                        <div class="col-xs-12 col-sm-5 col-md-3">

                                                            <div class="form-group form-group-sm">
                                                                <label>Time from</label>
                                                                <input id="timefromday+@day.DayNum" asp-for="@day.TimeFrom" type="datetime-local" class="form-control" />
                                                            </div>

                                                        </div>

                                                        <div class="col-xs-12 col-sm-5 col-md-3">

                                                            <div class="form-group form-group-sm">
                                                                <label>Time to</label>
                                                                <input id="timetoday+@day.DayNum" asp-for="@day.TimeTo" type="datetime-local" class="form-control" />
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row gap-20">

                                                        <div class="col-xs-12 col-sm-6">

                                                            <div class="form-group">
                                                                <label>Title:</label>
                                                                <input id="titleday+@day.DayNum" asp-for="@day.Title" type="text" class="form-control" />
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Remark:</label>
                                                                <input id="remarkday+@day.DayNum" asp-for="@day.Remark" type="text" class="form-control" />
                                                            </div>

                                                        </div>

                                                        <div class="col-xs-12 col-sm-6">

                                                            <div class="form-group">
                                                                <label>Brief Description:</label>
                                                                <textarea id="descriptionday+@day.DayNum" asp-for="@day.Description" class="form-control" rows="5"></textarea>
                                                            </div>

                                                        </div>


                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                }

                            </div>
                        }
                        <div class="mb-50">

                            <div class="checkbox-block font-icon-checkbox">
                                <input id="term_accept-1" name="term_accept" type="checkbox" class="checkbox" />
                                <label class="" for="term_accept-1">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. <a href="#" class="font700">Terms &amp; Conditions</a></label>
                            </div>

                            <div class="mb-25"></div>

                            <button id="buttontosave" type="submit" onclick="saveList()" class="btn btn-primary btn-wide">Submit</button>
                            <a href="#" class="btn btn-primary btn-wide btn-border">Save as draft</a>

                        </div>
                    </form>



                </div>

            </div>

        </div>

    </div>

</div>



@{
    var token = antiforgery.GetAndStoreTokens(Context);
    int count = 0, encluded = 0,  excluded = 0, id=0;

    if (Model.TripDaysDetail != null)
    {
        count = Model.TripDaysDetail.ToList().Count();
        id = Model.TripDetail.TripId;
        encluded = Model.Included.ToList().Count();
        excluded = Model.Excluded.ToList().Count();
    }


}

@section Scripts{

    <script>
        //function to send checkboxes data to controller
        var saveList = function () {

            //save styles
            var arrItem = [];
            var commaSeperatedIds = "";
            $("#ItemList input[type=checkbox]").each(function (index, val) {

                var checkId = $(val).attr("Id");
                var arr = checkId.split('-');
                var currentCheckboxId = arr[1];
                var IsChecked = $("#" + checkId).is(":checked", true);
                if (IsChecked) {
                    arrItem.push(currentCheckboxId);
                }
            })

            if (arrItem.length != 0) {
                commaSeperatedIds = arrItem.toString();
                $.ajax({
                    url: "/TourGuide/OfferedCreate/SaveList",
                    type: "POST",
                    headers: { '@token.HeaderName': '@token.RequestToken' },
                    data: { ItemList: commaSeperatedIds },
                    success: function (response) {
                        //
                    }
                })
            }

            if (@id == 0) {
                //save encluded
                var arrTextBoxesEncluded = [];
                for (var i = 0; i <= 6; i++) {
                    var value = document.getElementById(i).value;
                    if (value != "") {
                        arrTextBoxesEncluded.push(value);
                    }
                }

                var string = arrTextBoxesEncluded.toString();

                if (arrTextBoxesEncluded.length != 0) {

                    $.ajax({
                        url: "/TourGuide/OfferedCreate/SaveEncluded",
                        type: "POST",
                        headers: { '@token.HeaderName': '@token.RequestToken' },
                        data: { ItemList: string },
                        success: function (response) {
                            //
                        }
                    })
                }
            }

            if (@id == 0) {
                //save excluded
                var arrTextBoxesExcluded = [];
                for (var i = 7; i <= 13; i++) {
                    var value = document.getElementById(i).value;
                    if (value != "") {
                        arrTextBoxesExcluded.push(value);
                    }
                }

                var string = arrTextBoxesExcluded.toString();
                if (arrTextBoxesExcluded.length != 0) {

                    $.ajax({
                        url: "/TourGuide/OfferedCreate/SaveExecluded",
                        type: "POST",
                        headers: { '@token.HeaderName': '@token.RequestToken' },
                        data: { ItemList: string },
                        success: function (response) {
                            //
                        }
                    })
                }
            }
            if (@id != 0) {
                //update encluded
                var updateEncluded = [];
                for (var i = 0; i < @encluded; i++) {
                    var value = document.getElementById("encluded+" + i).value;

                    if (value != "") {
                        updateEncluded.push(value);
                    }
                }

                var stringEnc = updateEncluded.toString();

                if (updateEncluded.length != 0) {

                    $.ajax({
                        url: "/TourGuide/OfferedCreate/UpdateEncluded",
                        type: "POST",
                        headers: { '@token.HeaderName': '@token.RequestToken' },
                        data: { ItemList: stringEnc, id:@id },
                        success: function (response) {
                            //
                        }
                    })
                }
            }

            if (@id != 0) {
                //update excluded
                var updateExcluded = [];
                for (var i = 0; i < @excluded; i++) {
                    var value = document.getElementById("excluded+" + i).value;

                    if (value != "") {
                        updateExcluded.push(value);
                    }
                }

                var stringExc = updateExcluded.toString();

                if (updateExcluded.length != 0) {

                    $.ajax({
                        url: "/TourGuide/OfferedCreate/UpdateExcluded",
                        type: "POST",
                        headers: { '@token.HeaderName': '@token.RequestToken' },
                        data: { ItemList: stringExc, id:@id },
                        success: function (response) {
                            //
                        }
                    })
                }
            }

            //update trip days details
            if (@count > 0) {
                var matrix = new Array();
                for (var i = 1; i <= @count ; i++) {
                    var titleday = document.getElementById("titleday+" + i).value;
                    var remarkday = document.getElementById("remarkday+" + i).value;
                    var timeFromday = document.getElementById("timefromday+" + i).value;
                    var timeToday = document.getElementById("timetoday+" + i).value;
                    var descriptionday = document.getElementById("descriptionday+" + i).value;
                    if (titleday && remarkday && descriptionday != null) {
                        matrix.push({ Title: titleday, TimeFrom: timeFromday, TimeTo: timeToday, Remark: remarkday, Description: descriptionday });


                    }
                }


                if (matrix.length != 0) {
                    $.ajax({
                        url: "/TourGuide/OfferedCreate/UpdateTripDays",
                        type: "POST",
                        headers: { '@token.HeaderName': '@token.RequestToken' },
                        data: { ItemList: matrix, id: @id },
                        success: function (response) {
                            //
                        }
                    });
                }

            }

        }

    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/i54fe6u5lagl1he8pqydwfq525q0iiqncl244x4bzlp7acjm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format',
            height: '280'
        });


    </script>
    <script src="~/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.ui.timepicker.js"></script>
    <script src="~/js/bootstrap-tokenfield.js"></script>
    <script src="~/js/typeahead.bundle.min.js"></script>
    <script src="~/js/customs-create.js"></script>
    <script src="~/js/fileinput.min.js"></script>
    <script src="~/js/customs-fileinput.js"></script>
}
}
