@using Microsoft.AspNetCore.Identity
@inject EgyGuide.DataAccess.Repository.IRepository.IUnitOfWork _unitOfWork
@inject UserManager<IdentityUser> UserManager

@{
    var guide = _unitOfWork.GuideUser.GetFirstOrDefault(u => u.UserId == UserManager.GetUserId(User), includeProperties: "ApplicationUser");
    var guideDetails = _unitOfWork.GuideUserDetails.GetFirstOrDefault(u => u.GuideId == guide.Id);
}

<div class="user-profile-wrapper">

    <div class="user-header">

        <div class="content">

            <div class="content-top">

                <div class="container">

                    <div class="inner-top">

                        <div class="image">
                            @if (guide.ApplicationUser.ImageUrl == null)
                            {
                                <img src="~/images/avatar.jpg" alt="image" />
                            }
                            else
                            {
                                <img src="@guide.ApplicationUser.ImageUrl" alt="image" />
                            }
                        </div>

                        <div class="GridLex-gap-20">

                            <div class="GridLex-grid-noGutter-equalHeight GirdLex-grid-bottom">

                                <div class="GridLex-col-7_sm-12_xs-12_xss-12">

                                    <div class="GridLex-inner">
                                        <div class="heading clearfix">
                                            <h3>@String.Format("{0} {1}", guide.ApplicationUser.FirstName, guide.ApplicationUser.LastName)</h3>
                                        </div>
                                        <ul class="user-meta">
                                            <li><i class="fa fa-map-marker"></i> @guideDetails.Street, @guideDetails.State @guideDetails.ZipCode <span class="mh-5 text-muted">|</span> <i class="fa fa-phone"></i> +2 @guide.ApplicationUser.PhoneNumber</li>
                                            <li>
                                                <div class="user-social inline-block">
                                                    <a target="_blank" href="~//@guide.TwitterProfile"><i class="icon-social-twitter" data-toggle="tooltip" data-placement="top" title="twitter"></i></a>
                                                    <a target="_blank" href="~//@guide.FacebookProfile"><i class="icon-social-facebook" data-toggle="tooltip" data-placement="top" title="facebook"></i></a>
                                                    <a target="_blank" href="~//@guide.YoutubeProfile"><i class="icon-social-youtube" data-toggle="tooltip" data-placement="top" title="youtube"></i></a>
                                                    <a target="_blank" href="~//@guide.InstagramProfile"><i class="icon-social-instagram" data-toggle="tooltip" data-placement="top" title="instrgram"></i></a>
                                                </div>
                                                <!--<a href="#" class="btn btn-primary btn-xs btn-border">Follow</a>-->
                                            </li>
                                            <li>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="GridLex-col-5_sm-12_xs-12_xss-12">

                                    <div class="GridLex-inner">

                                        <div class="row gap-20">
                                            <div class="col-xss-6 col-xs-6 col-sm-6 col-md-12 text-right text-left-sm">
                                                <div class="rating-wrapper mb-10">
                                                    <div class="rating-item rating-item-lg">
                                                        <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="4.5" />
                                                        <span class="block line14">based on <a href="#">32 reviews</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xss-6 col-xs-6 col-sm-6 col-md-12 text-right text-left-sm">
                                                <div class="user-header-price mt-5-sm">
                                                    <span class="block-sm">From</span> <span class="text-primary number">USD@(String.Format("{0:#.00}", Convert.ToDecimal(guide.PricePerHour)))</span> / hour
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

            <div class="content-bottom">

                <div class="container">

                    <div class="inner-bottom">

                        <ul class="user-header-menu">
                            <li><a asp-controller="GuideProfile" asp-action="Index">Profile</a></li>
                            <li><a asp-controller="GuideProfile" asp-action="Tours">Tours <span>12</span></a></li>
                            @*<li><a asp-controller="GuideProfile" asp-action="Gallery">Gallery</a></li>*@
                            <li><a asp-controller="GuideDetailsReviews" asp-action="Index">Reviews</a></li>
                            @*<li><a asp-controller="GuideDetailsFollowing" asp-action="Index">Followings <span>25</span></a></li>
                            <li><a asp-controller="GuideDetailsFollower" asp-action="Index">Followers <span>8</span></a></li>*@
                            <li><a asp-controller="GuideDashboard" asp-action="Index">Dashboard</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>