@model EgyGuide.Models.ViewModels.RequestedVM

@{ ViewData["Title"] = "Tour";
    ViewData["AddClassToBodyTag"] = "transparent-header";
    ViewData["AddToBreadcrumbHeaderHereBox"] = "pb-100 no-bg";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create";

    if (Model.Requested.TripId != 0)
        title = "Update"; }



<!-- start breadcrumb -->
<div class="breadcrumb-image-bg pb-100 no-bg" style="background-image:url('images/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h2>@title Your Tour</h2>
                    <p>Publish your passions, your way</p>
                </div>
            </div>
        </div>

        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tour @title</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<div class="bg-light">

    <div class="create-tour-wrapper">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">


                    <form class="form" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="create-tour-inner">


                            <div class="row">
                                @if (Model.Requested.TripId != 0)
                                {

                                    <input type="hidden" asp-for="Requested.TripId" />}
                                <div class="col-xs-12 col-sm-12">

                                    <div class="form-group form-group-lg">
                                        <label asp-for="Requested.Title">Tour name:</label>
                                        <input asp-for="Requested.Title" type="text" class="form-control" />
                                        <span asp-validation-for="Requested.Title" class="text-danger"></span>

                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <label asp-for="Requested.Budget">Budget:</label>
                                    <div class="input-group mb-15">
                                        <input asp-for="Requested.Budget" class="form-control" type="text">

                                        <span class="input-group-addon">$USD / person</span>
                                        <span asp-validation-for="Requested.Budget" class="text-danger"></span>


                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-7 col-md-7">
                                    <div class="row gap-20">
                                        <div class="col-xsw-12 col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group form-spin-group">
                                                <label asp-for="Requested.Days">How many days?</label>
                                                <input id="days" asp-for="Requested.Days" type="text" class="form-control form-spin" value="1" />
                                                <span asp-validation-for="Requested.Days" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-xsw-12 col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group form-spin-group">
                                                <label asp-for="Requested.Nights">How many nights?</label>
                                                <input asp-for="Requested.Nights" type="text" class="form-control form-spin" value="0" />
                                                <span asp-validation-for="Requested.Nights" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-6 col-sm-6">

                                    <div class="form-group">
                                        <label asp-for="Requested.CityId">City:</label>
                                        @Html.DropDownListFor(m => m.Requested.CityId, Model.CityList, "-Select a city",
new { @class = "form-control" })
                                        <span asp-validation-for="Requested.CityId" class="text-danger"></span>

                                    </div>

                                </div>


                                <div class="col-xs-12 col-sm-12">

                                    <div class="form-group">
                                        <label asp-for="Requested.Description">Brief Description:</label>
                                        <textarea asp-for="Requested.Description" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Requested.Description" class="text-danger"></span>

                                    </div>

                                </div>



                            </div>

                            <h5 class="text-uppercase">Is this tour best for?</h5>

                            <div class="row gap-20">

                                <div id="ItemList" class="col-xs-12 col-sm-12">

                                    <label class="block">Tour style:</label>

                                    <div class="category-checkbox-wrapper clearfix mt-10 mb-15">

                                        @foreach (var style in Model.TripStyles)
                                        {
                                            <div class="category-checkbox-item">
                                                <div class="checkbox-block">

                                                    <input id="checkbox_block-@style.StyleId" type="checkbox" class="checkbox @style.StyleId" checked="@style.IsChecked" />
                                                    <label asp-for="@style.StyleId" class="" for="checkbox_block-@style.StyleId">
                                                        <span class="category-checkbox-inner">
                                                            <span class="middle-outer">
                                                                <span class="middle-inner">
                                                                    <span class="icon">
                                                                        <i class="flaticon-travel-icons-@style.ClassName"></i>
                                                                    </span>
                                                                    @style.StyleName
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>}
                                    </div>

                                </div>



                            </div>



                        </div>


                        <div class="mb-30"></div>

                        <h4 class="section-title">Trip detail</h4>

                        <div class="row gap-20">



                            <div class="col-xs-12 col-sm-3">

                                <div class="form-group">
                                    <label asp-for="Requested.MeetingDate">Trip Date</label>

                                    <input asp-for="Requested.MeetingDate" type="time" class="form-control" />
                                    <span asp-validation-for="Requested.MeetingDate" class="text-danger"></span>

                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-4">

                                <div class="form-group form-spin-group">
                                    <label asp-for="Requested.NumTravellers">Number of travellers</label>
                                    <input asp-for="Requested.NumTravellers" type="text" class="form-control form-spin" value="1" />
                                    <span asp-validation-for="Requested.NumTravellers" class="text-danger"></span>

                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12">

                                <div class="form-group">
                                    <label asp-for="Requested.SelectedLanguages">Languages:</label>
                                    <input asp-for="Requested.SelectedLanguages" type="text" class="form-control" id="" value="" placeholder="Engilsh-French" />
                                    <span asp-validation-for="Requested.SelectedLanguages" class="text-danger"></span>

                                </div>

                            </div>



                        </div>

                        <div class="mb-40"></div>

                        <h4 class="section-title">Other Information</h4>

                        <div class="row gap-15 mt-25">
                            @for (var i = 0; i <= 6; i++)
                            {

                                <div class="col-xs-12 col-xs-6 col-md-4">
                                    <div class="form-group">

                                        <input id="@i" asp-for="Requested.RequestedInfo" type="text" class="form-control">
                                    </div>
                                </div>
                            }


                  

                        </div>


                        <div class="mb-50">

                            <div class="checkbox-block font-icon-checkbox">
                                <input id="term_accept-1" name="term_accept" type="checkbox" class="checkbox" />
                                <label class="" for="term_accept-1">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. <a href="#" class="font700">Terms &amp; Conditions</a></label>
                            </div>

                            <div class="mb-25"></div>

                            <button type="submit" onclick="saveList()" class="btn btn-primary btn-wide">Submit</button>
                            <a href="#" class="btn btn-primary btn-wide btn-border">Save as draft</a>

                        </div>
                    </form>



                </div>

            </div>

        </div>

    </div>

</div>




@section Scripts{

    <script>
        //function to send checkboxes data to controller
        var saveList = function () {

            var arrItem = [];
            var commaSeperatedIds = "";
            $("#ItemList input[type=checkbox]").each(function (index, val) {

                var checkId = $(val).attr("Id");
                var arr = checkId.split('-');
                var currentCheckboxId = arr[1];
                var IsChecked = $("#" + checkId).is(":checked", true);
                if (IsChecked) {
                    arrItem.push(currentCheckboxId);
                }
            })
            if (arrItem.length != 0) {
                commaSeperatedIds = arrItem.toString();
                $.ajax({
                    url: "/Tourist/RequestedCreate/SaveList",
                    type: "POST",
                    data: { ItemList: commaSeperatedIds },
                    success: function (response) {
                        //
                    }
                })
            }

            var arrTextBoxesInfo = [];
            for (var i = 0; i <= 6; i++) {
                var value = document.getElementById(i).value;
                if (value != "") {
                    arrTextBoxesInfo.push(value);
                }
            }

            var string = arrTextBoxesInfo.toString();

            if (arrTextBoxesInfo.length != 0) {

                $.ajax({
                    url: "/Tourist/RequestedCreate/SaveInfo",
                    type: "POST",
                    data: { ItemList: string },
                    success: function (response) {
                        //
                    }
                })
            }

        }

    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/i54fe6u5lagl1he8pqydwfq525q0iiqncl244x4bzlp7acjm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format',
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }
            return true;
        }
    </script>
    <script src="js/jquery.bootstrap-touchspin.js"></script>
    <script src="js/dropzone.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.ui.timepicker.js"></script>
    <script src="js/bootstrap-tokenfield.js"></script>
    <script src="js/typeahead.bundle.min.js"></script>
    <script src="js/customs-create.js"></script>
}
