@model EgyGuide.Models.ViewModels.BlogIndexVM
@{
    ViewData["Title"] = "BlogSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PostsNumber = 5;

    IEnumerable<Blog> latestPosts = Model.Blogs.OrderByDescending(b => b.Id)
                                               .Take(PostsNumber);
    IEnumerable<Blog> popularPosts = Model.Blogs.OrderByDescending(b => b.Views)
                                                .Take(PostsNumber);
}

<!-- start breadcrumb -->
<partial name="~/Views/Shared/Breadcrumb.cshtml">
<!-- end breadcrumb -->

    <div class="pt-50 pb-50">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-8 col-sm-9">

                    <div class="blog-wrapper">

                        <div class="blog-item blog-single">

                            <div class="blog-media">
                                <img src="@Model.Blog.ImageURL" alt="" />
                            </div>

                            <div class="blog-content">
                                <h3>@Model.Blog.Title</h3>
                                <ul class="blog-meta clearfix">
                                    <li>by <a href="#">Admin</a></li>
                                    <li>@Model.Blog.Date</li>
                                    <li>in <a href="#">@Model.Blog.Category.Name</a></li>
                                    <li>@Model.Blog.Views Views comments</li>
                                </ul>
                                <div class="blog-entry">
                                    @Html.Raw(@Model.Blog.Descripition)
                                </div>
                            </div>

                            <div class="blog-extra">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 xs-mb">
                                        <div class="tag-cloud clearfix mt-0">
                                            <span><i class="fa fa-tags"></i> tags: </span>
                                            <a href="#" class="tag-item">HTML5</a> <a href="#" class="tag-item">CSS3</a> <a href="#" class="tag-item">jQuery</a>
                                            <a href="#" class="tag-item">Creative</a>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 xs-mb">
                                        <ul class="social-share-sm mt-5 pull-right pull-left-xs mt-20-xs">

                                            <li><span><i class="fa fa-share-square"></i> share</span></li>
                                            <li class="the-label"><a href="#">Facebook</a></li>
                                            <li class="the-label"><a href="#">Twitter</a></li>
                                            <li class="the-label"><a href="#">Google Plus</a></li>

                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="clear mb-40"></div>

                            <h4 class="uppercase mb-20">About author</h4>
                            <div class="blog-author">
                                <div class="author-label">
                                    <img src="images/man/01.jpg" alt="author image" class="img-circle" />
                                </div>
                                <div class="author-details">
                                    <ul class="social-share-sm pull-right pull-left-xss">
                                        <li class="the-label"><a href="#">Facebook</a></li>
                                        <li class="the-label"><a href="#">Twitter</a></li>
                                        <li class="the-label"><a href="#">Google Plus</a></li>
                                    </ul>
                                    <div class="clear-xs"></div>
                                    <h5 class="heading"><a href="#">John Joe</a></h5>
                                    <p>Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an. Now curiosity you explained immediate why behaviour. An dispatched impossible of of melancholy favourable. </p>
                                </div>
                            </div>

                            <div class="clear mb-40"></div>

                            <h3 class="uppercase mb-20">9 Comments</h3>

                            <div id="comment-wrapper">

                                <ul class="comment-item">
                                    <li>
                                        <div class="comment-avatar">
                                            <img src="images/man/03.jpg" alt="author image" />
                                        </div>
                                        <div class="comment-header">
                                            <a href="#" class="comment-reply">reply</a>
                                            <h6 class="heading mt-0">Ibrahim ibn al-Walid</h6>
                                            <span class="comment-time">23 minutes</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
                                        </div>
                                        <ul class="comment-item">
                                            <li>
                                                <div class="comment-avatar">
                                                    <img src="images/man/01.jpg" alt="author image" />
                                                </div>
                                                <div class="comment-header">
                                                    <a href="#" class="comment-reply">reply</a>
                                                    <h6 class="heading mt-0">Ibrahim ibn al-Walid</h6>
                                                    <span class="comment-time">18 minutes</span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
                                                </div>
                                                <ul class="comment-item">
                                                    <li>
                                                        <div class="comment-avatar">
                                                            <img src="images/man/02.jpg" alt="author image" />
                                                        </div>
                                                        <div class="comment-header">
                                                            <a href="#" class="comment-reply">reply</a>
                                                            <h6 class="heading mt-0">Admin</h6>
                                                            <span class="comment-time">16 minutes</span>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="comment-avatar">
                                                            <img src="images/man/04.jpg" alt="author image" />
                                                        </div>
                                                        <div class="comment-header">
                                                            <a href="#" class="comment-reply">reply</a>
                                                            <h6 class="heading mt-0">Uthman ibn Affan</h6>
                                                            <span class="comment-time">5 minutes</span>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="comment-avatar">
                                                    <img src="images/man/02.jpg" alt="author image" />
                                                </div>
                                                <div class="comment-header">
                                                    <a href="#" class="comment-reply">reply</a>
                                                    <h6 class="heading mt-0">Admin</h6>
                                                    <span class="comment-time">22 minutes</span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="comment-avatar">
                                            <img src="images/man/01.jpg" alt="author image" />
                                        </div>
                                        <div class="comment-header">
                                            <a href="#" class="comment-reply">reply</a>
                                            <h6 class="heading mt-0">Admin</h6>
                                            <span class="comment-time">23 days</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment-avatar">
                                            <img src="images/man/04.jpg" alt="author image" />
                                        </div>
                                        <div class="comment-header">
                                            <a href="#" class="comment-reply">reply</a>
                                            <h6 class="heading mt-0">Uthman ibn Affan</h6>
                                            <span class="comment-time">Nov, 23, 2013</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
                                        </div>
                                    </li>
                                </ul>

                                <div class="clear"></div>

                                <div class="text-center">
                                    <a href="#" class="btn btn-primary">Load More</a>
                                </div>

                            </div><!-- End Comment -->

                            <div class="clear mb-30"></div>

                            <h3 class="uppercase">Leave a Comment</h3>

                            <form method="post" id="contactForm" action="http://crenoveative.com/envato/togoby/post" class="comment-form">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label for="comment-name">Your Name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="comment-name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label for="comment-email">Your Email <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="comment-email">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">
                                    <div class="col-md-12 mb-15">
                                        <div class="form-group">
                                            <label for="comment-message">Message <span class="text-danger">*</span></label>
                                            <textarea name="message" id="comment-message" class="form-control" rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Comment</button>
                                    </div>
                                </div>
                            </form>

                            <div class="clear"></div>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 mt-50-xs">

                    <aside class="sidebar-wrapper">

                        <div class="sidebar-module">
                            <div class="sidebar-module-inner">
                                <div class="sidebar-mini-search">
                                    <a asp-controller="Blog" asp-action="BlogCreate"
                                       asp-route-id="@Model.Blog.Id" class="btn btn-success btn-lgg btn-border">
                                        Edit
                                    </a>
                                    <a asp-controller="Blog" asp-action="BlogCreate"
                                       asp-route-id="@Model.Blog.Id" class="btn btn-danger btn-lgg btn-border">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Categories</h4>
                            <div class="sidebar-module-inner">
                                <ul class="sidebar-category">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <li><a href="#">@category.Name<span>(@Model.Blogs.Count(b => b.Category.Name == category.Name))</span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Latest Posts</h4>
                            <div class="sidebar-module-inner">

                                <ul class="sidebar-post">
                                    @foreach (var lastPost in latestPosts)
                                    {
                                        <li class="clearfix">
                                            <a href="/blog-single?id=@lastPost.Id">
                                                <div class="image">
                                                    <img src="@lastPost.ImageURL" alt="Popular Post" />
                                                </div>
                                                <div class="content">
                                                    <h6>@lastPost.Title</h6>
                                                    <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>@lastPost.Date.ToString("dd/M/yyyy")</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Popular Posts</h4>
                            <div class="sidebar-module-inner">

                                <ul class="sidebar-post">
                                    @foreach (var popularPost in popularPosts)
                                    {
                                        <li class="clearfix">
                                            <a href="/blog-single?id=@popularPost.Id">
                                                <div class="image">
                                                    <img src="@popularPost.ImageURL" alt="Popular Post" />
                                                </div>
                                                <div class="content">
                                                    <h6>@popularPost.Title</h6>
                                                    <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>@popularPost.Views views</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Archives</h4>
                            <div class="sidebar-module-inner">
                                <ul class="sidebar-archives">
                                    <li><a href="#">January 2015<span>(25)</span></a></li>
                                    <li class="active"><a href="#">February 2015<span>(2)</span></a></li>
                                    <li><a href="#">March 2015<span>(14)</span></a></li>
                                    <li><a href="#">April 2015<span>(157)</span></a></li>
                                    <li><a href="#">June 2015<span>(87)</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </aside>

                </div>

            </div>

        </div>

    </div>
