@model EgyGuide.Models.ViewModels.BlogIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PostsNumber = 5;

    IEnumerable<Blog> latestPosts = Model.Blogs.OrderByDescending(b => b.Id)
                                               .Take(PostsNumber);
    IEnumerable<Blog> popularPosts = Model.Blogs.OrderByDescending(b => b.Views)
                                                .Take(PostsNumber);
    var archives = Model.Blogs.GroupBy(b => b.Date.ToString("MMMM yyyy"));
}

<!-- start breadcrumb -->
<partial name="~/Views/Shared/Breadcrumb.cshtml">
<!-- end breadcrumb -->

    <div class="pt-50 pb-50">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-8 col-sm-9">

                    <div class="blog-wrapper">

                        <!-- start Blog Item -->
                        @foreach (var blog in Model.Blogs.OrderByDescending(b => b.Date))
                        {
                            <div class="blog-item">

                                <div class="blog-media">
                                    <div class="overlay-box">
                                        <a class="blog-image" asp-controller="Blog" asp-action="BlogSingle" asp-route-id="@blog.Id">
                                            <img src="@blog.ImageURL" alt="" />
                                            <div class="image-overlay">
                                                <div class="overlay-content">
                                                    <div class="overlay-icon"><i class="pe-7s-link"></i></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="blog-content">
                                    <h3><a href="blog-single.html" class="inverse">@blog.Title</a></h3>
                                    <ul class="blog-meta">
                                        <li>by <a href="#">Admin</a></li>
                                        <li>by @blog.Date</li>
                                        <li>in <a href="#">@blog.Category.Name</a>, <a href="#">Backpack</a></li>
                                        <li>32 comments</li>
                                    </ul>
                                    <div class="blog-entry" style="color: none;">
                                        @Html.Raw(blog.Descripition)
                                    </div>
                                    <a asp-controller="Blog" asp-action="BlogSingle"  asp-route-id="@blog.Id" class="btn-blog">Read More <i class="fa fa-long-arrow-right"></i></a>
                                </div>

                            </div>
                        }
                        <!-- end Blog Item -->

                        <div class="pager-wrapper">

                            <nav class="pager-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><span>...</span></li>
                                    <li><a href="#">11</a></li>
                                    <li><a href="#">12</a></li>
                                    <li><a href="#">13</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 mt-50-xs">

                    <aside class="sidebar-wrapper">

                        <div class="sidebar-module">
                            <div class="sidebar-module-inner">
                                <div class="sidebar-mini-search">
                                    <a asp-controller="Blog" asp-action="BlogCreate" class="btn btn-primary btn-lgg btn-block btn-border">Create Blog</a>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Categories</h4>
                            <div class="sidebar-module-inner">
                                <ul class="sidebar-category">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <li><a href="#">@category.Name<span>(@Model.Blogs.Count(b => b.Category.Name == category.Name))</span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Latest Posts</h4>
                            <div class="sidebar-module-inner">

                                <ul class="sidebar-post">
                                    @foreach (var lastPost in latestPosts)
                                    {
                                        <li class="clearfix">
                                            <a href="/blog-single?id=@lastPost.Id">
                                                <div class="image">
                                                    <img src="@lastPost.ImageURL" alt="Popular Post" />
                                                </div>
                                                <div class="content">
                                                    <h6>@lastPost.Title</h6>
                                                    <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>@lastPost.Date.ToString("dd/M/yyyy")</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Popular Posts</h4>
                            <div class="sidebar-module-inner">

                                <ul class="sidebar-post">
                                    @foreach (var popularPost in popularPosts)
                                    {
                                        <li class="clearfix">
                                            <a href="/blog-single?id=@popularPost.Id">
                                                <div class="image">
                                                    <img src="@popularPost.ImageURL" alt="Popular Post" />
                                                </div>
                                                <div class="content">
                                                    <h6>@popularPost.Title</h6>
                                                    <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>@popularPost.Views views</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="sidebar-module">
                            <h4 class="sidebar-title">Archives</h4>
                            <div class="sidebar-module-inner">
                                <ul class="sidebar-archives">
                                    @foreach (var archive in archives)
                                    {                                        
                                        <li><a href="#">@archive.Key <span>(@archive.Count())</span></a></li>                                    
                                    }
                                </ul>
                            </div>
                        </div>

                    </aside>

                </div>

            </div>

        </div>

    </div>

